<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Book Library</title>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>

<body>
    <h1>Hello I'm your Express Book DB app!</h1>
    <h2>There are currently 4 books in the database</h2>
</body>

</html>