<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="stylesheet" href="../public/css/site.css">
    <script src="../public/js/app.js"></script>
</head>

<body>
    <nav>
        <a href="/">Back to home</a>
        <a href="/public/js/app.js">App js</a>
        <a href="/bigfile">Big file</a>
        <a href="/public/images/cat.jpg">Като котка</a>              
        <a class="button" onclick="getMessage()">Get message</a>
    </nav>
    <h1>About us</h1>
    <p>This is NodeJS Web Server Demo.</p>
</body>

</html>