<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Server Demo</title>
    <link rel="stylesheet" href="../public/css/site.css">
    <script src="../public/js/app.js"></script>
</head>
<body>
    <nav>
        <a href="/about.html">About us</a>
        <a href="/public/js/app.js">App js</a>
        <a href="/bigfile">Big file</a>
        <a href="/public/images/cat.jpg">Като котка</a>
        <a class="button" onclick="getMessage()">Get message</a>
    </nav>
    <h1>Welcome to index page!</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam explicabo tenetur, eius atque, obcaecati illum assumenda doloribus laboriosam iure numquam animi eaque. Cupiditate, maiores fugiat. Corporis blanditiis deserunt fuga accusantium?</p>
    <img src="../public/images/cat2.jpg" alt="Cat">
</body>
</html>