body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.form {
    display: inline-block;
    width: 50%;
    height: 20%;
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 2px;
}

.pokemon-div {
    display: inline-block;
    margin: 100px;
    padding: 20px;
    border: 2px solid black;
    text-align: center;
}

.pokemon-div p {
    border: 1px solid black;
}

.pokemon-div img {
    width: 200px;
    height: 200px;
}