<!-- <div \\ensure that there is a movie in order to render this div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{place movie title here}}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5">
          <img class="thumbnail" src="http://image.tmdb.org/t/p/w500/{{place
            poster path here}}">
        </div>
        <div class="col-md-7">
          <ul class="list-group">
            <li class="list-group-item">Genres: <span *ngFor="let genre of
                movie.genres">{{list all genres for this movie}}</span></li>
            <li class="list-group-item">Release Date: {{show the release date of
              the movie}}</li>
          </ul>
          <br>
          <a *ngIf="movie.homepage" href="{{place movie's home here}}"
            target="_blank" class="btn btn-default">Visit Movie Website</a>
        </div>
      </div>
    </div>
  </div>
</div> -->