<h1>Movie component</h1>

<main role="main" class="container">

  <!-- Not implented Seach  -->
  <div class="jumbotron">
    <div class="container">
      <h1>Find a movie</h1>
      <p>Search for a movie using the form below:</p>
      <form action="">
        <input type="text" class="form-control">
        <button class="btn btn-outline-success my-2 my-sm-0 search-btn"
          type="submit">Search</button>
      </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Popular Movies</h2>
    </div>
    <div class="panel-body">
      <div *ngIf="popular" class="row">
        <div *ngFor="let movie of popular;let i=index" class="col-md-2">
          <div *ngIf="i <6">
            <app-movie [movie]='movie'></app-movie>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">In Theaters</h2>
    </div>
    <div class="panel-body">
      <div *ngIf="theaters" class="row">
        <div *ngFor="let movie of theaters;let i=index"
          class="col-md-2">
          <div *ngIf="i <6">
            <app-movie [movie]='movie'></app-movie>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Kids</h2>
    </div>
    <div class="panel-body">
      <div *ngIf="kids" class="row">
        <div *ngFor="let movie of kids;let i=index"
          class="col-md-2">
          <div *ngIf="i <6">
            <app-movie [movie]='movie'></app-movie>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Best Dramas</h2>
    </div>
    <div class="panel-body">
      <div *ngIf="bestDramas" class="row">
        <div *ngFor="let movie of bestDramas;let i=index"
          class="col-md-2">
          <div *ngIf="i <6">
            <app-movie [movie]='movie'></app-movie>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Top Rated</h2>
    </div>
    <div class="panel-body">
      <div *ngIf="topRated" class="row">
        <div *ngFor="let movie of topRated;let i=index"
          class="col-md-2">
          <div *ngIf="i <6">
            <app-movie [movie]='movie'></app-movie>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>