<h1>Movie component</h1>

<!-- <main role="main" class="container">

  <div class="jumbotron">
    <div class="container">
      <h1>Find a movie</h1>
      <p>Search for a movie using the form below:</p>
      <form action="">
        <input type="text" class="form-control">
        <button class="btn btn-outline-success my-2 my-sm-0 search-btn"
          type="submit">Search</button>
      </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Popular Movies</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div *ngFor="let movie of popular.results;let i=index" class="col-md-2">
          <div *ngIf="i <6">
            <img *ngIf="movie.poster_path" class="thumbnail"
              src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
            <h5 id="movie-title">{{movie.title}}</h5>
            <p id="release-date">{{movie.release_date}}</p>
            <p id="view-details"><a class="btn btn-default" href="#">View
                Details</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">In Theaters</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div *ngFor="let movie of theaters.results;let i=index"
          class="col-md-2">
          <div *ngIf="i <6">
            <img *ngIf="movie.poster_path" class="thumbnail"
              src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
            <h5 id="movie-title">{{movie.title}}</h5>
            <p id="release-date">{{movie.release_date}}</p>
            <p id="view-details"><a class="btn btn-default" href="#">View
                Details</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Kids</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div *ngFor="let movie of kids.results;let i=index"
          class="col-md-2">
          <div *ngIf="i <6">
            <img *ngIf="movie.poster_path" class="thumbnail"
              src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
            <h5 id="movie-title">{{movie.title}}</h5>
            <p id="release-date">{{movie.release_date}}</p>
            <p id="view-details"><a class="btn btn-default" href="#">View
                Details</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Best Dramas</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div *ngFor="let movie of bestDramas.results;let i=index"
          class="col-md-2">
          <div *ngIf="i <6">
            <img *ngIf="movie.poster_path" class="thumbnail"
              src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
            <h5 id="movie-title">{{movie.title}}</h5>
            <p id="release-date">{{movie.release_date}}</p>
            <p id="view-details"><a class="btn btn-default" href="#">View
                Details</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Top Rated</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div *ngFor="let movie of topRated.results;let i=index"
          class="col-md-2">
          <div *ngIf="i <6">
            <img *ngIf="movie.poster_path" class="thumbnail"
              src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
            <h5 id="movie-title">{{movie.title}}</h5>
            <p id="release-date">{{movie.release_date}}</p>
            <p id="view-details"><a class="btn btn-default" href="#">View
                Details</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</main> -->