<body>
	<div class="container">
		<main>
			<form method="post">
				<h2>Create Product</h2>
				<div>
					<label for="category">Category</label>
					<select name="category" id="category" selected="{{category}}">
						<option value="beef">Beef</option>
						<option value="chicken">Chicken</option>
						<option value="lamb">Lamb</option>
					</select>
				</div>
				<div>
					<label for="imageUrl">Image Url</label>
					<input id="imageUrl" name="imageUrl" type="text" value="{{imageUrl}}">
				</div>
				<div>
					<label for="size">Size</label>
					<input id="size" name="size" type="number" value="{{size}}">
				</div>
				<div>
					<strong>Toppings</strong>
					<br>
					<textarea name="toppings">{{toppings}}</textarea>
				</div>
				<div>
					<input type="submit" value="Create" class="button" style="border:0" />
				</div>
			</form>
		</main>
	</div>
</body>