form {
    width: 80%;
    margin: 0 auto;
}

label,
input {
    /* in order to define widths */
    display: inline-block;
}

label {
    width: 30%;
    /* positions the label text beside the input */
    text-align: right;
}

label+input {
    width: 30%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 0 30% 0 4%;
}

/* only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button */

input+input {
    float: right;
}

.error-box {
    border: 1px solid black;
    background-color: rgb(165, 204, 216);
}

.error-box span {
    color: rgb(199, 18, 18);
    text-align: center;
    font-size: 20px;
}