<form (ngSubmit)="onSubmit()" [formGroup]="passwordForm">
  <div *ngIf="passwordForm.get('oldPassword').touched && passwordForm.get('oldPassword').invalid" class="error-box">
    <span *ngIf="passwordForm.get('oldPassword').errors.required">Filed is required</span>
    <span *ngIf="passwordForm.get('oldPassword').errors.minlength">Password must be at least 3 characters long</span>
  </div>

  <label for="oldPassword">Old password</label>
  <input type="text" formControlName="oldPassword">

  <div *ngIf="passwordForm.get('newPassword').touched && passwordForm.get('newPassword').invalid" class="error-box">
    <span *ngIf="passwordForm.get('newPassword').errors.required">Filed is required</span>
    <span *ngIf="passwordForm.get('newPassword').errors.minlength">Password must be at least 3 characters long</span>    
  </div>
  <label for="newPassword">New password</label>
  <input type="text" formControlName="newPassword">

  <div *ngIf="passwordForm.get('confirmNewPassword').touched && passwordForm.get('confirmNewPassword').invalid" class="error-box">
    <span *ngIf="passwordForm.get('confirmNewPassword').errors.required">Filed is required</span>
    <span *ngIf="passwordForm.get('confirmNewPassword').errors.minlength">Password must be at least 3 characters long</span>
  </div>
  <label for="confirmNewPassword">Confirm password</label>
  <input type="text" formControlName="confirmNewPassword">

  <label hidden></label>
  <input type="submit" value="Submit">
</form>